/* Please make sure that all of your class names have your unique name or 
initials in front of them so they don't get mixed up with other's code! 
Do a quick text search to make sure your name or initials aren't already
claimed in this file. You may also want to prepend your CSS with your full name 
or github link in a comment so we know who goes where!*/



#mkm {
  background-color: azure;
  margin: 15px;
  height: 320px;
  width: 320px;
  position: relative;
  display: inline-block;
}

#mkm .trunk {
    border-color: brown transparent;
    border-style: solid;
    border-width: 0 15px 200px;
    bottom: 0;
    left: 43%;
    height: 0px;
    position: absolute;
    width: 0;
}

#mkm .branches {
    border-color: green transparent;
    border-style: solid;
    height: 0px;
    position: absolute;
    width: 0;
    border-width: 0 100px 120px;
    left: 17%;
}

#mkm .bottom {
  bottom: 30px;
  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;

}

#mkm .middle {
  bottom: 80px;
  border-bottom-left-radius: 50% 60px;
  border-bottom-right-radius: 50% 60px;

}

#mkm .top {
  bottom: 130px;
  border-bottom-left-radius: 50% 100px;
  border-bottom-right-radius: 50% 100px;

}

#mkm .name {
  position: absolute;
  width: 100%;
  text-align: center;
  border: 10px #ffe766 solid;
  font-size: 50px;
  background-color: #ffd700;
  color: #323232;
  font-family: "Arial Black", Gadget, sans-serif;
}

#aps {
  background-color: #96b9f2;
  margin: 15px;
  height: 320px;
  width: 320px;
  position: relative;
  display: inline-block;
}

#aps .trunk {
 border-color: #A0522D transparent;
 border-style: solid;
 border-width: 0px 15px 200px;
 position: absolute;
 bottom: 0px;
 left: 43%;
 height: 0px;
 width: 0px;
}

#aps .branch {
 border-color: green transparent;
 border-style: solid;
 height: 0px;
 position: absolute;
 width: 0;
 border-width: 0 100px 120px;
 left: 17%;
}

#aps .bottom {
 bottom: 30px;
 border-bottom-left-radius: 50% 20px;
 border-bottom-right-radius: 50% 20px;
}

#aps .middle {
 bottom: 80px;
 border-bottom-left-radius: 50% 60px;
 border-bottom-right-radius: 50% 60px;
}

#aps .top {
 bottom: 130px;
 border-bottom-left-radius: 50% 100px;
 border-bottom-right-radius: 50% 100px;
}

#aps .name {
 position: absolute;
 width: 100%;
 text-align: center;
 border: 10px #ffe766 solid;
 font-size: 50px;
 background-color: #ffd700;
 color: #323232;
 font-family: "Arial Black", Gadget, sans-serif;
}

#bess-ps {
  margin: 15px;
  height: 320px;
  width: 320px;
  position: relative;
  display: inline-block;
}
#bess-ps .trunk {
 border-color: brown transparent;
 border-style: solid;
 border-width: 0px 15px 200px;
 position: absolute;
 bottom: 0px;
 left: 43%;
 height: 0px;
 width: 0px;
}
#bess-ps .branch {
 border-color: green transparent;
 border-style: solid;
 height: 0px;
 position: absolute;
 width: 0;
 border-width: 0 100px 120px;
 left: 17%;
}
#bess-ps .bottom {
 bottom: 30px;
 border-bottom-left-radius: 50% 20px;
 border-bottom-right-radius: 50% 20px;
}
#bess-ps .middle {
 bottom: 80px;
 border-bottom-left-radius: 50% 60px;
 border-bottom-right-radius: 50% 60px;
}
#bess-ps .top {
 bottom: 130px;
 border-bottom-left-radius: 50% 100px;
 border-bottom-right-radius: 50% 100px;
}
#bess-ps .name {
 position: absolute;
 width: 300px;
 text-align: center;
 font-size: 50px;
 color: black;
 font-family: "Helvetica", sans-serif;
 font-weight: 100;
}
#bess-ps .ornament {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
}
#bess-ps .one {
  bottom: 70px;
  left: 160px;
  background: #b8860b;
}
#bess-ps .two {
  bottom: 120px;
  left: 180px;
  background: #978176;
}
#bess-ps .three {
  bottom: 170px;
  left: 140px;
  background: #b8860b
}
#bess-ps .four {
  bottom: 110px;
  left: 120px;
  background: #978176;
}

#sfh {
  margin: 15px;
  height: 320px;
  width: 320px;
  position: relative;
  display: inline-block;
  background: #F3EFE0;
  border: 1px solid #C0C0C0;
}

#sfh .trunk {
 border-color: brown transparent;
 border-style: solid;
 border-width: 0px 15px 200px;
 position: absolute;
 bottom: 0px;
 left: 43%;
 height: 0px;
 width: 0px;
}

#sfh .branches {
 border-color: green transparent;
 border-style: solid;
 border-width: 0 100px 120px;
 position: absolute;
 left: 17%;
 height: 0px;
 width: 0;
}

#sfh .bottom {
 bottom: 30px;
 border-bottom-left-radius: 50% 20px;
 border-bottom-right-radius: 50% 20px;
}

#sfh .middle {
 bottom: 80px;
 border-bottom-left-radius: 50% 60px;
 border-bottom-right-radius: 50% 60px;
}

#sfh .top {
 bottom: 130px;
 border-bottom-left-radius: 50% 100px;
 border-bottom-right-radius: 50% 100px;
}

#sfh .circle {
    width: 10px;
    height: 10px;
    position: absolute;
    background: #FDFD00;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#sfh .circle1 {
  left: 42%;
  bottom: 170px;
}
#sfh .circle2 {
  left: 55%;
  bottom: 130px;
}
#sfh .circle3 {
  left: 33%;
  bottom: 100px;
}
#sfh .circle4 {
  left: 47%;
  bottom: 65px;
}

#sfh .star {
  border-color: #FDFD00 transparent;
  border-style: solid;
  border-width: 0px 25px 17px;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  top: 55px;
  left: 41%;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}


#sfh .star:before {
  border-color: #FDFD00 transparent; /*top/bottom left/right*/
  border-style: solid;
  border-width: 0px 5px 15px; /*top left/right bottom*/
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: -10px;
  left: -13px;
  content: '';
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}

#sfh .star:after {
  border-color: #FDFD00 transparent;
  border-style: solid;
  border-width: 0px 25px 17px;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: '';
  top: 0px;
  left: -25px;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
}

#sfh .name {
  position: absolute;
  width: 300px;
  text-align: center;
  font-size: 100px;
  color: #323232;
  font-family: sans-serif;
  font-weight: bold;
}

#christianhoward {
  background-color: deepskyblue;
  margin: 15px;
  height: 320px;
  width: 320px;
  position: relative;
  display: inline-block;
}

#christianhoward .trunk {
 border-color: brown transparent;
 border-style: solid;
 border-width: 0px 15px 200px;
 position: absolute;
 bottom: 0px;
 left: 43%;
 height: 0px;
 width: 0px;
}

#christianhoward .branch {
 border-color: white transparent;
 border-style: solid;
 height: 0px;
 position: absolute;
 width: 0;
 border-width: 0 100px 120px;
 left: 17%;
}

#christianhoward .bottom {
 bottom: 30px;
 border-bottom-left-radius: 50% 20px;
 border-bottom-right-radius: 50% 20px;
}

#christianhoward .middle {
 bottom: 80px;
 border-bottom-left-radius: 50% 60px;
 border-bottom-right-radius: 50% 60px;
}

#christianhoward .top {
 bottom: 130px;
 border-bottom-left-radius: 50% 100px;
 border-bottom-right-radius: 50% 100px;
}

#christianhoward .name {
 position: absolute;
 width: 300px;
 text-align: center;
 border: 10px #ffe766 solid;
 font-size: 50px;
 background-color: #ffd700;
 color: #323232;
 font-family: "Arial Black", Gadget, sans-serif;
}

#clara {
  background-color: azure;
  margin: 15px;
  height: 320px;
  width: 320px;
  position: relative;
  display: inline-block;
}

  #clara .trunk {
      border-color: brown transparent;
      border-style: solid;
      border-width: 0 10px 200px;
      bottom: 0;
      left: 45%;
      height: 0px;
      position: absolute;
      width: 0;
  }

  #clara .branches {
      border-color: #697858 transparent;
      border-style: solid;
      height: 0px;
      position: absolute;
      width: 0;
      border-width: 0 100px 120px;
      left: 17%;
  }

  #clara .bottom {
    bottom: 30px;
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;

  }

  #clara .middle {
    bottom: 65px;
    border-bottom-left-radius: 50% 60px;
    border-bottom-right-radius: 50% 60px;
  }

  #clara .top {
    bottom: 100px;
    border-bottom-left-radius: 50% 120px;
    border-bottom-right-radius: 50% 100px;
  }

  #clara .name {
    position: absolute;
    width: 100%;
    text-align: center;
    border: 10px #ffe766 solid;
    font-size: 50px;
    background-color: #ffd700;
    color: #323232;
    font-family: "Courier", Gadget, sans-serif;
  }

  #clara .band {
    z-index: 3;
    border-bottom: 3px dotted #F7F4ED;
    position: relative;
    width: 160px;
    height: 60px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    
    margin-bottom: -5px;
    
    left: -80px;
  }

  #clara .top .band {
    width: 60px;
    left: -30px;
    height: 26px;
    margin-top: 15px;
  }

  #clara .middle .band {
    width: 120px;
    left: -60px;
    height: 36px;
    margin-top: 10px
  }

  #clara .bottom .band {
    margin-top: 50px;
  }

  #clara .light:before {
    content: "*";
    display: block;
    font-size: 14px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    z-index: 10;
    position: relative;
  }
  #clara .red:before {
    background-color: #C70039;
    color: #F27C82;    
  }
  #clara .silver:before {
    background-color: #ddd;
    color: #fff;
  }
  #clara .gold:before {
    background-color: #FFCE00;
    color: #FFF100;
  }

  #clara .light {
    position: absolute;
    z-index: 10;
  }

  #clara .top .light {
    top: 30px;
    font-size: 18px;
  }
  #clara .light:nth-child(2) {
    left: 0em;
    -webkit-transform: translate(-7px,25px);
    -ms-transform: translate(-7px,25px);
    transform: translate(-7px,25px);
    
  }
  #clara .light:nth-child(3) {
    left: 1em;
    -webkit-transform: translate(-7px,-5px);
    -ms-transform: translate(-7px,-5px);
    transform: translate(-7px,-5px);

  }
  #clara .light:nth-child(1) {
    left: -1em;
    -webkit-transform: translate(-7px,-10px);
    -ms-transform: translate(-7px,-10px);
    transform: translate(-7px, -10px);

  }

  #clara .middle .light {
    font-size: 40px;
    top: 60px;
  }

  #clara .bottom .light {
    font-size: 50px;
    top: 70px;
  }

/* Your CSS goes below here! */

/* Yvonne Dreptatae Sidhe-is-Me */
#yd {
	background-color: azure;
  margin: 15px;
  height: 320px;
  width: 320px;
  position: relative;
  display: inline-block;
}
#yd .trunk {
 border-color: brown transparent;
 border-style: solid;
 border-width: 0px 15px 200px;
 position: absolute;
 bottom: 0px;
 left: 43%;
 height: 0px;
 width: 0px;
}
#yd .branches {
    border-color: green transparent;
    border-style: solid;
    height: 0px;
    position: absolute;
    width: 0;
    border-width: 0 100px 120px;
    left: 17%;
}
#yd  .bottom {
  bottom: 30px;
  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;

}
#yd .middle {
  bottom: 80px;
  border-bottom-left-radius: 50% 60px;
  border-bottom-right-radius: 50% 60px;
	
}
#yd .top{
	bottom: 130px;
	border-bottom-left-radius: 50% 100px;
	border-bottom-right-radius: 50% 100px;
	
}
#yd .name{
	position: absolute;
	width: 300px;
	text-align: center;
	border: 20px, green;
  font-size: 50px;
	background-color: yellow;
	color:green;
}