/* Please make sure that all of your class names have your unique name or 
initials in front of them so they don't get mixed up with other's code! 
Do a quick text search to make sure your name or initials aren't already
claimed in this file. You may also want to prepend your CSS with your full name 
or github link in a comment so we know who goes where!*/

/* Mary Katherine McKenzie */

#mkm {
  background-color: azure;
  margin: 15px;
  height: 320px;
  width: 320px;
  position: relative;
  display: inline-block;
}

#mkm .trunk {
    border-color: brown transparent;
    border-style: solid;
    border-width: 0 15px 200px;
    bottom: 0;
    left: 43%;
    height: 0px;
    position: absolute;
    width: 0;
}

#mkm .branches {
    border-color: green transparent;
    border-style: solid;
    height: 0px;
    position: absolute;
    width: 0;
    border-width: 0 100px 120px;
    left: 17%;
}

#mkm .bottom {
  bottom: 30px;
  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;

}

#mkm .middle {
  bottom: 80px;
  border-bottom-left-radius: 50% 60px;
  border-bottom-right-radius: 50% 60px;

}

#mkm .top {
  bottom: 130px;
  border-bottom-left-radius: 50% 100px;
  border-bottom-right-radius: 50% 100px;

}

#mkm .name {
  position: absolute;
  width: 100%;
  text-align: center;
  border: 10px #ffe766 solid;
  font-size: 50px;
  background-color: #ffd700;
  color: #323232;
  font-family: "Arial Black", Gadget, sans-serif;
}

#aps {
  background-color: #96b9f2;
  margin: 15px;
  height: 320px;
  width: 320px;
  position: relative;
  display: inline-block;
}

#aps .trunk {
 border-color: #A0522D transparent;
 border-style: solid;
 border-width: 0px 15px 200px;
 position: absolute;
 bottom: 0px;
 left: 43%;
 height: 0px;
 width: 0px;
}

#aps .branch {
 border-color: green transparent;
 border-style: solid;
 height: 0px;
 position: absolute;
 width: 0;
 border-width: 0 100px 120px;
 left: 17%;
}

#aps .bottom {
 bottom: 30px;
 border-bottom-left-radius: 50% 20px;
 border-bottom-right-radius: 50% 20px;
}

#aps .middle {
 bottom: 80px;
 border-bottom-left-radius: 50% 60px;
 border-bottom-right-radius: 50% 60px;
}

#aps .top {
 bottom: 130px;
 border-bottom-left-radius: 50% 100px;
 border-bottom-right-radius: 50% 100px;
}

#aps .name {
 position: absolute;
 width: 100%;
 text-align: center;
 border: 10px #ffe766 solid;
 font-size: 50px;
 background-color: #ffd700;
 color: #323232;
 font-family: "Arial Black", Gadget, sans-serif;
}

#bess_ps {
  margin: 15px;
  height: 320px;
  width: 320px;
  position: relative;
  display: inline-block;
}
#bess_ps .trunk {
 border-color: brown transparent;
 border-style: solid;
 border-width: 0px 15px 200px;
 position: absolute;
 bottom: 0px;
 left: 43%;
 height: 0px;
 width: 0px;
}
#bess_ps .branch {
 border-color: green transparent;
 border-style: solid;
 height: 0px;
 position: absolute;
 width: 0;
 border-width: 0 100px 120px;
 left: 17%;
}
#bess_ps .bottom {
 bottom: 30px;
 border-bottom-left-radius: 50% 20px;
 border-bottom-right-radius: 50% 20px;
}
#bess_ps .middle {
 bottom: 80px;
 border-bottom-left-radius: 50% 60px;
 border-bottom-right-radius: 50% 60px;
}
#bess_ps .top {
 bottom: 130px;
 border-bottom-left-radius: 50% 100px;
 border-bottom-right-radius: 50% 100px;
}
#bess_ps .name {
 position: absolute;
 width: 300px;
 text-align: center;
 font-size: 50px;
 color: black;
 font-family: "Helvetica", sans-serif;
 font-weight: 100;
}
#bess_ps .ornament {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
}
#bess_ps .one {
  bottom: 70px;
  left: 160px;
  background: #b8860b;
}
#bess_ps .two {
  bottom: 120px;
  left: 180px;
  background: #978176;
}
#bess_ps .three {
  bottom: 170px;
  left: 140px;
  background: #b8860b
}
#bess_ps .four {
  bottom: 110px;
  left: 120px;
  background: #978176;
}

/* Your CSS goes below here! */